src/main/java/com/mypackage/xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="algorithm">
        <xs:restriction base="xs:string">
            <xs:pattern value="ShiftUpEncryption|ShiftMultiplyEncryption|XOREncryption"/>
        </xs:restriction>
    </xs:simpleType>


<xs:element name="Settings">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Algorithm" type="algorithm" />
            <xs:element name="Source" type="xs:string" minOccurs='1' />
            <xs:element name="KeyPath" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
